@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #3498db); /* Gradient background */
}

.container {
  position: relative;
  background: rgba(255, 182, 193, 0.4); /* Pink tint with transparency */
  color: #333333; /* Dark text color */
  width: 300px;
  height: 300px;
  border-radius: 10px; /* Square shape with rounded corners */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Hide overflowing effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow effect */
  backdrop-filter: blur(10px); /* Background blur for glassmorphic effect */
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Hover effect on box shadow */
}

h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #8a2be2; /* BlueViolet text color */
}

.count {
  font-size: 70px;
  color: #333333; /* Dark text color */
}

.counters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Reduced the gap for a more balanced layout */
}

.btn {
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #8a2be2; /* BlueViolet background color */
  box-shadow: 0 4px 8px rgba(138, 43, 226, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #6a1c9e; /* Darkened BlueViolet on hover */
  box-shadow: 0 4px 12px rgba(138, 43, 226, 0.4); /* Hover effect on box shadow */
}

.btn:active {
  transform: scale(0.95);
  box-shadow: none;
}

.reset {
  color: #ffffff; /* White text color */
  background-color: #333333; /* Dark background color */
  padding: 8px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset:hover {
  background-color: #1a1a1a; /* Darkened background color on hover */
}

.reset:active {
  transform: scale(0.95);
}
